package {{commonPack}};

/**
 *
 */
public enum CodeMsg {
    OK(0,"OK"),
    UNKNOWN_ERROR(1,"未知异常"),
    ILLEGAL_PARAMS(10001,"参数不合法");




    public final int code;
    public final String msg;
    private CodeMsg(int code,String msg){
        this.code = code;
        this.msg = msg;
    }

}
