
  public {{modelClazzName}} {{propName}}({{{clazzName}}} {{propName}}){
    {{setter}}({{propName}});
    return this;
  }

  public {{{clazzName}}} {{getter}}(){
    return {{propName}};
  }

  public void {{setter}}({{{clazzName}}} {{propName}}){
    this.{{propName}} = {{propName}};
  }
